<template>
      
    <div class="signUp_user">
        <div class="container_signUp_user">
            <div class="form_title2">
                <img src="https://firebasestorage.googleapis.com/v0/b/linkgamers-48918.appspot.com/o/Capa%201.svg?alt=media&token=e4418186-57d9-40f6-ad82-454fb7817dff">
                <h2>LinkGamers</h2>
            </div>

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Nombre de usuario">
                <br>
                
                <input type="email" v-model="user.email" placeholder="Email">
                <br>

                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>

                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>

</template>

<script>

import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: "",
                games: []
            }
        }
    },

    methods: {

        processSignUp: function(){
            axios.post(
                "https://linkgamers.herokuapp.com/user/create/", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro.");  
                });
        }
    }
}
</script>






<style>
    .form_title2{
    display: flex;
    align-items: center;
    }

  .form_title2 h2{
      color: var(--fucsia);
      font-size: 6.0rem;
  }

    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_signUp_user {
        border-radius: 45px;
        width: 73.4rem;
        height: 63.8rem;
        background-color: var(--purple);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signUp_user form{
        width: 63.0rem;
        height: auto; 
    }

    .signUp_user input{
        height: 5.9rem;
        width: 63.0rem;

        border-radius: 30.0rem;
        padding: 6px 111px;
        margin: 5px 0;
    }

    .signUp_user button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62.8rem;
        height: 40px;

        color: var(--fondo);
        background: var(--fucsia);

        border-radius: 2.4rem;
        /* padding: 10px 25px;
        margin: 5px 0 25px 0; */
    }

    .signUp_user button:hover{
        color: #E5E7E9;
        border: 1px solid #E5E7E9;

    }

</style>